[mysqld]
datadir=/var/lib/mysql
socket=/tmp/mysql.sock
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
local-infile=0
safe-user-create
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

[mysqld_safe]


#
# include all files from the config directory
#
!includedir /etc/mysql/my.cnf.d
